body {
  background-color: lightgray;
  width: 100vw;
  height: 80vh;
  margin: 0;
}

header {
  background-color: darkgray;
  width: 100vw;
  height: 20vh;
}

main {
  background-color: antiquewhite;
  width: 70vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: black;
  width: 70vw;
  height: 10vh;
  margin: 0 auto;
}
