body {
  margin: 0;
  padding: 25px;
}

.container-one {
  height: 250px;
  display: flex;
  border: 5px solid black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.purple-square {
  height: 150px;
  width: 50px;
  background-color: purple;
}

.green-square {
  height: 200px;
  width: 400px;
  background-color: green;
  margin: 0 50px;
}

.blue-circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: lightblue;
}

.container-two {
  display: flex;
  border: 5px dotted black;
  padding: 50px;
  margin-top: 25px;
  box-sizing: border-box;
}

.shadow-rectangle {
  box-shadow: 10px 10px 5px 0px darkgray;
  width: 100%;
  height: 200px;
  background-color: lightgoldenrodyellow;
}

.container-three {
  display: flex;
  width: 50%;
  border: 1px solid gray;
  background-color: antiquewhite;
  padding: 100px;
  box-sizing: border-box;
  margin: 25px auto;
  box-shadow: 3px 3px 5px 0px darkgray;
}

.hello {
  text-align: center;
  color: navy;
  width: 100%;
  letter-spacing: 10px;
}
